[2020-01-13 22:19] jpadilla opened #3 "Create home page"
Based on https://suministrospr.com

[2020-01-13 22:20] jpadilla opened #4 "Create detail view page"
Based on https://suministrospr.com/sectores/aguas-blancas/

[2020-01-13 22:21] jpadilla opened #5 "Create new page"
Based on: https://suministrospr.com/helpie_editor_page/?editor_mode=add-article

We can skip functionality to create municipalities, we can hardcode all of them.

[2020-01-13 22:21] jpadilla opened #6 "Create edit page"
Based on: https://suministrospr.com/helpie_editor_page/?post_id=120

[2020-01-13 22:22] jpadilla opened #7 "Implement proof of concept form with trix editor"

[2020-01-13 22:24] jpadilla opened #8 "Extract data for migration"

[2020-01-13 23:34] gcollazo opened #11 "Publicar viajes de entrega de suministros"
Las personas que harán viajes para entregar suministros deben poder publicar:

- Cuando van a hacer el viaje
- A donde van a ir a llevar suministros
- Que suministros van a llevar en ese viaje
- Info de contacto para que quien quiera aportar suministros a ese viaje pueda entregarlos
- Modificar home para mostrar:
  - Necesidades por refugio (esto es la data que ya tenemos)
  - Entregas de suminist

[2020-01-13 23:40] jpadilla commented on #7
#10

[2020-01-13 23:40] #7 closed

[2020-01-14 02:57] jpadilla opened #13 "Create management command to import data"
Create management command to import data from #8

[2020-01-14 02:57] jpadilla opened #14 "Caching"

[2020-01-14 03:04] jpadilla opened #15 "Sanitize content"
Use something like https://github.com/mozilla/bleach to make sure `suministro.content` does not contain malicious input.

[2020-01-14 03:05] froi commented on #8
@albertico [completed the scrapper](https://github.com/Code4PuertoRico/suministrospr-web-scraper). Issues should be linked to the scrapper repo and create over there.

Here's the data extract: [suministrospr-raw-data-20190113-2047.zip](https://github.com/Code4PuertoRico/suministrospr/files/4057151/suministrospr-raw-data-20190113-2047.zip)

CC: @jpadilla @miguelrios ☝️

[2020-01-14 03:05] #8 closed

[2020-01-14 03:11] miguelrios opened #17 "Replicate the original design."

[2020-01-14 04:28] #13 closed

[2020-01-14 04:43] froi opened #19 "Use django form instead of model in data import commad"
Using the form instead of the model will allow us to use the implemented text sanitation on import as well.

[2020-01-14 04:44] #15 closed

[2020-01-14 05:07] jpadilla opened #20 "Versioning"
Since this is based on a trust system at the moment, we could version control entries with something like: https://github.com/etianen/django-reversion

[2020-01-14 05:25] #19 closed

[2020-01-14 05:56] froi commented on #3
@miguelrios @jpadilla

Este issue todavia es valido con el trabajo de #22 ? Can we close this?

[2020-01-14 06:02] miguelrios commented on #3
Le falta el styling del listing.

[2020-01-14 06:02] miguelrios commented on #3
Y style el "add" button. See #24.

[2020-01-14 06:06] froi commented on #17
Related #3 #4 #5 #22 #24

[2020-01-14 06:37] froi commented on #6
Edit page seems done. @Code4PuertoRico/suministrospr can we close this?

![image](https://user-images.githubusercontent.com/1918027/72319872-be999b00-3676-11ea-88c5-e5fc9d8e87be.png)

[2020-01-14 06:42] froi commented on #6
Editing entry:
<img width="1258" alt="suministros-edit-with-added-text" src="https://user-images.githubusercontent.com/1918027/72320139-6f079f00-3677-11ea-8436-c4ff2f787afe.png">

Validating edit shows up in details:
<img width="1258" alt="suministrospr-detail-with-edit" src="https://user-images.githubusercontent.com/1918027/72320143-7169f900-3677-11ea-92cd-420160c682eb.png">

[2020-01-14 06:51] froi commented on #5
Current "add article" page

![image](https://user-images.githubusercontent.com/1918027/72320549-4fbd4180-3678-11ea-8f4c-e9017e68ae25.png)

Original "add article" page:

![image](https://user-images.githubusercontent.com/1918027/72320581-619ee480-3678-11ea-9cbf-a680aa0ce4cf.png)

[2020-01-14 06:52] froi commented on #5
Adding a new article:

![image](https://user-images.githubusercontent.com/1918027/72320835-d3772e00-3678-11ea-81b7-8e0448d57ae8.png)

Validating article added:
<img width="1258" alt="suministros-add-article-validation" src="https://user-images.githubusercontent.com/1918027/72320856-dffb8680-3678-11ea-9a46-c9194051b20c.png">

[2020-01-14 06:54] froi commented on #5
Only "issue" here is that when adding a new article the site leaves the use in the add article page.

@Code4PuertoRico/suministrospr is that a behavior that we want or do we want to send the user to the detail page of what was just added?

[2020-01-14 06:57] froi opened #26 "Add filter by municipality page"
Based on: https://suministrospr.com/municipios/penuelas/

![image](https://user-images.githubusercontent.com/1918027/72321085-59937480-3679-11ea-9fc0-9d8804c0a0ab.png)

[2020-01-14 07:16] froi opened #28 "Details page is not rendering links"
The details page is not rendering links at all. All text with an anchor tag is being escaped. These links are showing correctly in in the edit page for an entry.

Example, the detail for entry with `bo-bucarabones-maricao` slug:

<img width="878" alt="details-missing-links" src="https://user-images.githubusercontent.com/1918027/72322208-2bfbfa80-367c-11ea-8826-04ea0621b460.png">

[2020-01-14 14:01] #3 closed

[2020-01-14 14:03] #5 closed

[2020-01-14 14:06] jpadilla commented on #4
Falta añadir basic styling para markup generado por el editor.

Update: Working on it

[2020-01-14 14:06] #6 closed

[2020-01-14 14:07] jpadilla commented on #28
Per https://github.com/Code4PuertoRico/suministrospr/issues/4#issuecomment-574189804, we need to add some basic styling for markup generated by the editor.

[2020-01-14 14:15] malopezcruz opened #31 "Añadir campo de localización a refugios y puntos de encuentro para entregas de suministros"
¿Se podría, de alguna manera, sistematizar en el editor o alguna otra parte del UI la entrada de las coordenadas de la comunidad? Esto facilitaría la llegada de los recursos. Tomo como ejemplo la aplicación sos-sur de gcollazo.

[2020-01-14 15:14] gcollazo commented on #31
@malopezcruz de acuerdo con que debemos tomar información de location al momento de crear o editar un lugar

[2020-01-14 15:17] gcollazo commented on #14
Esto debería ser full page caching con un timeout de un minuto o algo así para empezar. Luego debemos mirar estrategias de invalidación al momento de la creación / update de un page.

[2020-01-14 15:21] jpadilla commented on #4
Addressed via #28

[2020-01-14 15:39] froi commented on #4
There are some conflicts that need to be addressed and after that it should be good to go.

[2020-01-14 15:40] froi commented on #4
@jpadilla saw your merge of #28 I'm closing this out.

[2020-01-14 15:40] #4 closed

[2020-01-14 16:03] gcollazo opened #34 "Importar datos existentes antes de deploy"
Hay un scrapper creado como parte de #8. Antes del deploy / switch debemos hacer un último export / import.

El import process debería `get_or_create` y si existe solo update, queremos poder correr el import varias veces sin duplicar lugares pero si actualizando los datos.

Es inevitable que el cambio de DNS tarde un poco en estar en efecto en todas partes por lo que seguramente vamos a tener que

[2020-01-14 16:17] #26 closed

[2020-01-14 16:28] gcollazo opened #35 "Add meta tags"
Abajo los meta tags que tiene el site actual, hay que actualizar los que tienen imagenes para incluir la imagenes en el repo y linkiar correctamente.

[code]

[2020-01-14 16:31] jpadilla commented on #17
All sub-issues are done.

[2020-01-14 16:31] #17 closed

[2020-01-14 16:31] jpadilla commented on #34
@froi habría que modificar el import_data management command para que sea idempotent.

[2020-01-14 16:33] crm114 commented on #35
On it @gcollazo

[2020-01-14 16:42] jpadilla commented on #28
@froi this should be fixed now.

En el source https://suministrospr.com/sectores/bo-bucarabones-2/ no tiene un `<a>`.

[2020-01-14 17:35] gcollazo commented on #20
¿La meta sería poder "revert" la data si alguien la daña?

[2020-01-14 17:38] gcollazo commented on #28
Agree con que el site actual tiene links así que no necesitamos links por ahora... Closing

[2020-01-14 17:38] #28 closed

[2020-01-14 17:39] gcollazo commented on #14
Hosting va a ser en Heroku así que nos debería funcionar Redis como backend.

[2020-01-14 17:39] jpadilla commented on #20
@gcollazo sí.

[2020-01-14 18:48] froi opened #37 "Añadir map con rutas"
Este pedido nos Twitter y posiblemente esta relacionado a #31.

[![image](https://user-images.githubusercontent.com/1918027/72372191-4bc30b00-36dc-11ea-81e4-89718c533bee.png)]( https://twitter.com/tercapaciencia/status/1217132247146475525)

No tenemos muchos detalles pero una vez los consigamos los añado aquí.

[2020-01-14 18:51] gcollazo commented on #37
@froi considero este un duplicate de #31... closing

[2020-01-14 18:51] #37 closed

[2020-01-14 19:50] #14 closed

[2020-01-14 19:59] gcollazo opened #39 "Create production environment"
Crear team en Heroku (@froi @jpadilla) con los siguientes addons:
- Postgres
- Redis
- Sentry

Una vez deployed solo queda cambiar el DNS en CloudFlare.

[2020-01-14 20:15] gcollazo opened #40 "Offline support using service worker"

[2020-01-14 20:53] albertico commented on #34
@gcollazo Se puede reducir el TTL del DNS?

[2020-01-14 21:17] froi commented on #35
Closed with #36

[2020-01-14 21:17] #35 closed

[2020-01-14 21:56] gcollazo commented on #34
@albertico buen punto, lo acabo de bajar a 2min

[2020-01-14 22:10] gcollazo commented on #39
Done!

[2020-01-14 22:10] #39 closed

[2020-01-14 22:16] #20 closed

[2020-01-14 22:31] jpadilla commented on #34
Tenemos que importar los datos usando el slug original.

Ejemplo: https://suministrospr.com/sectores/barriada-ferran-sector-san-francisco/
Slug: barriada-ferran-sector-san-francisco

Usar el slug original nos va a permitir hacer el proceso de importación idempotent.

Este cambio debe de ser en el `import_data` management command.

I can work on this at 7pm. Anybody else is welcome to do so before

[2020-01-14 22:31] jpadilla opened #43 "Mantener URL iguales donde sea posible"
Reference: https://suministrospr.com/sectores/barriada-ferran-sector-san-francisco/

[2020-01-14 23:44] tommytomtj commented on #43
What needs to be done here? I see that some urls have numbers like this one: https://suministrospr.com/sectores/342/ for Baldorioty. Is that what you mean?

[2020-01-14 23:58] gcollazo opened #44 "Añadir tag de Google Analytics"
Copiar GA tag del site existente

[2020-01-15 01:10] froi commented on #34
@jpadilla I'm working on this

[2020-01-15 01:16] jpadilla commented on #43
@tommytomtj our current urls look like this:

[code]

We should try to keep as many URLs as we can working where it makes sense:

Example:

[code]

[2020-01-15 01:44] jpadilla commented on #44
[code]

[2020-01-15 02:01] tommytomtj commented on #43
Ok I got it. Ive made that change locally. Testing now.

[2020-01-15 02:17] #44 closed

[2020-01-15 03:13] tommytomtj opened #48 "AttributeError on first load of resource"
So I'm getting an error _"AttributeError: 'bool' object has no attribute 'get'"_ when I click on links for the first time. If i reload the page or go back and click again it works fine. I think I narrowed the issue down to the CacheMixin.

Adding a line with _response.render()_ right below the cache.set lambda seems to resolve the issue for me. I'll submit that change for you guys to determine if

[2020-01-15 03:23] tommytomtj commented on #43
Is there a branch I can push to?

[2020-01-15 03:27] miguelrios commented on #43
your own branch should be ok

[2020-01-15 03:29] jpadilla commented on #43
@tommytomtj You should probably fork the repository and then open a pull request.

https://guides.github.com/activities/forking/

[2020-01-15 03:30] tommytomtj commented on #43
Okay cool thanks.

[2020-01-15 03:56] jpadilla commented on #48
@tommytomtj sorry about that, should be fixed in https://github.com/Code4PuertoRico/suministrospr/commit/000ae80ecb1a6974467d665cc1acb125a0085eaf

[2020-01-15 04:03] #48 closed

[2020-01-15 04:11] jpadilla opened #49 "Improve styling of long titles"
<img width="1406" alt="Screen Shot 2020-01-14 at 11 08 55 PM" src="https://user-images.githubusercontent.com/83319/72404345-fc53fd80-3722-11ea-9fe9-61ef1be67be9.png">

vs

<img width="1406" alt="Screen Shot 2020-01-14 at 11 10 28 PM" src="https://user-images.githubusercontent.com/83319/72404376-18f03580-3723-11ea-8651-006448f1f930.png">

[2020-01-15 04:49] miguelrios opened #51 "Some potential improvements for V2"
Some thoughts on (near) future improvements

**On Categorization**
I think the request page needs improvements on structuring but I like the “wiki” and “free form” nature of it. I don’t know how to balance the two.

One possible hack (which may not be sustainable depending on volume) is to have a slack hook that notifies a group of us whenever there is an update posted and we go and add “tags” or

[2020-01-15 04:53] luisgthb commented on #49
I’ll check this one out.

[2020-01-15 08:35] luisv5z opened #53 "Optimize rendering on small displays."
Some elements aren’t making the best use of the space available.

**Homepage** on mobile (iPhone X)
![0 0 0 0_8000_(iPhone X)](https://user-images.githubusercontent.com/2643495/72417635-4c44bb80-3747-11ea-8b45-ec4f90270c43.png)

**Suministros** on mobile (iPhone X)
![0 0 0 0_8000_suministros_piedras-blancas-guayanilla-2_(iPhone X)](https://user-images.githubusercontent.com/2643495/72417647-523a9c8

[2020-01-15 12:02] gcollazo commented on #51
Creo que #11 ataca algunos de estos puntos pero optimiza para ship it rápido. La desventaja del diseño de #11 es que no es data estructurada.

Creo que podemos lanzar de esta versión free form para tener el feature lo antes posible y en la próxima vuelta añadir más estructura y referencias cruzadas. Sin duda es con lo que queremos terminar.

Sobre lo de tener un canal público para push posts estoy

[2020-01-15 12:28] gcollazo opened #54 "Status Meeting v1"
Hagamos un video call hoy en la mañana para recap donde estamos que es lo último que falta e idealmente deploy hoy mismo.

La idea sería hacer el meeting abierto para que puedan join los que quieran.

Agenda
- Demo del app (screen share) cómo está ahora y confirmar que tenemos feature parity con el current app
- Definir pasos finales para poder poner en prod
- Establecer fecha y hora de push a pro

[2020-01-15 12:48] gcollazo opened #55 "Traducir UI"
Request: https://mobile.twitter.com/cosmicglimmer/status/1217422947394162689

[2020-01-15 13:22] gcollazo commented on #55
https://mobile.twitter.com/oajvelez/status/1217429927974395905

[2020-01-15 14:05] #34 closed

[2020-01-15 14:14] gcollazo opened #56 "Remove heading style choose en editor"

[2020-01-15 14:14] gcollazo opened #57 "<ol> salen como <ul>"

[2020-01-15 14:15] gcollazo opened #58 "Verificar imágenes de escudos"

[2020-01-15 14:18] gcollazo opened #59 "Añadir last modified at en posts"

[2020-01-15 14:19] gcollazo opened #60 "Sort por municipio con mas sectores"

[2020-01-15 14:19] gcollazo opened #61 "Links on bread crumbs"

[2020-01-15 14:24] gcollazo opened #62 "Update titles on every page"

[2020-01-15 14:29] Xiomara7 commented on #54
Attendees: @jpadilla, @gcollazo, @froi, Orlando Vélez, Javier Vélez

**Notes:**
- Han sugerido hacer un reporte pero debe hacerse manual.
- @jpadilla  y @gcollazo  van a sync up para hacer deploy y luego seguir v2.

**Issues discutidos / encontrados durante el call:**
- [x] https://github.com/Code4PuertoRico/suministrospr/issues/56
- [x] https://github.com/Code4PuertoRico/suministrospr/issues/57
-

[2020-01-15 14:33] jpadilla commented on #53
- [ ] Smaller logo on header
- [ ] Less horizontal padding
- [ ] Larger buttons
- [ ] Smaller font size for text in header

Results from https://suministrospr.com/sectores/barrio-magueyes-alto-calle-2-al-final-guanica-p-r/

<img width="616" alt="Screen Shot 2020-01-15 at 9 26 31 AM" src="https://user-images.githubusercontent.com/83319/72441763-38b24880-3779-11ea-8af9-10d11105bf8b.png">

[2020-01-15 14:33] froi opened #63 "Crear manera de informar errores"
Los usuarios deberían tener una manera de informar errores o ediciones "nefastas" dentro de la misma pagina. Esto permite a los dueños del site corregir las entradas usando la historia que se esta guardando

[2020-01-15 14:34] jpadilla commented on #53
@luisv5z wanna take a stab at these tweaks?

[2020-01-15 14:44] jpadilla commented on #58
Idea: crear un post para cada municipio y verificar que todos los escudos se vean bien en el home page.

Algo así para crear los datos:

[code]

[2020-01-15 14:46] froi commented on #54
@Xiomara7 Gracias por estas notas!!!!

[2020-01-15 14:46] jpadilla commented on #49
Fixed via #52

[2020-01-15 14:46] #49 closed

[2020-01-15 14:51] gcollazo opened #64 "Aceptar pagos por ATHM, PayPal, etc."
https://mobile.twitter.com/mayoketchuup/status/1217457902438572033

[2020-01-15 14:52] #54 closed

[2020-01-15 14:53] jpadilla commented on #43
Fixed via #50

[2020-01-15 14:53] #43 closed

[2020-01-15 15:11] gcollazo opened #69 "Añadir assets editables de diseño al repo"
¿Hay alguna objeción en añadir los assets editables de diseño al repo? Si no la hay ¿tienes sugerencias de como llamar el directorio para estos assets?

ping @froi @jpadilla

[2020-01-15 15:19] #57 closed

[2020-01-15 15:19] #58 closed

[2020-01-15 15:19] #56 closed

[2020-01-15 15:32] miguelrios commented on #64
Paypal es bien fácil si el end-user tiene ya una cuenta. Necesitas su email o su paypal.me link. https://github.com/Code4PuertoRico/prneeds.cash/blob/master/src/components/Paypal/Paypal.js#L17

Como casi todo el mundo tiene ATH, otro approach puede ser permitir donaciones a "suministrospr" (sponsored by a non profit for tax deductions if possible) taggeadas a un refugio y entonces "suministrospr"

[2020-01-15 15:34] miguelrios commented on #51
Sg. Me avisas si quieren usar @puertorico.

[2020-01-15 15:36] froi commented on #69
No tengo objeción. Quizas llamar el directorio `raw_assets`?

[2020-01-15 15:37] miguelrios commented on #51
Y agree con optimizar para ship it rápido. Algo q puedo hacer en el bg es un simple ml model q lea el texto y lo categorize. Puede ayudar para quienes busquen como ayudar (filtrar by need_supplies por ejemplo). No tiene q ser muy complicado. Empecé a label data aquí: https://docs.google.com/spreadsheets/d/16alvWnwEu-aMD5IHiUH_NHkuNfB9oaKiWTiGMXp-jSM/edit#gid=1555248691. Voy a crear un issue para e

[2020-01-15 16:02] froi opened #72 "Add suministrospr footer"
Debemos de añadir el footer official del equipo de suministrospr. Esto sirve para dar información a medios and cualquier cobertura official del proyecto.

[2020-01-15 16:05] gcollazo commented on #51
Eso sería espectacular! Déjame saber si necesitas algo para poder moverte adelante.

[2020-01-15 16:11] juarbem opened #73 "¿Hace falta pautar en Facebook para incrementar visitas de donantes o líderes comunitarios?"
Wepa, hola, acá desde la Florida me enteré que Giovanni está colaborando con el grupo para organizar la ayuda y me motivé a ver cómo puedo ayudarles. Tengo background en web dev y mercadeo digital, so si surge algo que entiendan que pueda ayudarles, me avisan.

Se me ocurre que quizás haga falta una manera de llegarle a más líderes de comunidad (targeting páginas de Facebook creadas para recolecta

[2020-01-15 16:17] luisgthb commented on #53
@gcollazo Are you working on this one?

[2020-01-15 16:22] #60 closed

[2020-01-15 16:32] Xiomara7 commented on #51
I can help labeling.

[2020-01-15 16:43] miguelrios commented on #54
I missed this. My bad.

[2020-01-15 17:04] gcollazo commented on #53
@luisv5z si

[2020-01-15 17:26] juarbem opened #74 "SuministrosPR- Credenciales de cuenta en GMail, Twitter"
gcollazo: please don't post credentials here

[2020-01-15 18:00] froi commented on #74
Going to close this out since it's been addressed.

[2020-01-15 18:00] #74 closed

[2020-01-15 18:03] #62 closed

[2020-01-15 18:09] #53 closed

[2020-01-15 18:11] gcollazo opened #77 "QA Diseño"
- el copy aguante aún más pequeño.
- font Montserrat.
- el título del Municipio/Sector/Refugio está muy grande still. yo tengo ahora mismo ese título en 35px (montserrat)
- cuadremos los bullets con el párrafo de arriba

[2020-01-15 20:02] luisgthb commented on #77
I can take this one.

[2020-01-15 20:05] jpadilla commented on #61
Closed via #79

Gracias @arielo 🎉

[2020-01-15 20:05] #61 closed

[2020-01-15 20:07] gcollazo commented on #77
@luisv5z do it!

[2020-01-15 20:13] jpadilla commented on #59
Closed via #80 / #81

[2020-01-15 20:13] #59 closed

[2020-01-15 20:22] gcollazo commented on #72
@eluciano11 va a hacer esto

[2020-01-15 21:27] #72 closed

[2020-01-15 22:32] arielo opened #84 "Optimize Suministro “group by”"
The way `suministró` records are fetched could be problematic as the amount of records grow. The `group by` could be done at a DB query level reducing operations and memory usage.

https://github.com/Code4PuertoRico/suministrospr/blob/a0f6a70cc2f8894dd79a41a43e67f35d851e51ea/suministrospr/suministros/views.py#L26

@gcollazo This is not a blocker for v1 just something to keep an eye out for.

[2020-01-15 23:47] ajRiverav commented on #55
i'll take it. OK if it is done tomorrow, though?

[2020-01-15 23:49] ajRiverav commented on #55
also, I can look around and check what should be translated, but if you can provide some guiding info, I could have it done in less time.

[2020-01-16 00:17] rnegron commented on #84
I can take this task.

[2020-01-16 03:19] miguelrios opened #90 "Duplicated "sectores""
Hay dupe records. E.g. https://suministrospr.com/sectores/brisas-del-caribe/ and https://suministrospr.com/sectores/1697/ both link to the sector "brisas del caribe".

[2020-01-16 05:04] jpadilla commented on #73
@juarbem 👋este repositorio es público. tomé la libertad de entrar a gmail y a twitter para cambiar los passwords, antes que otra persona lo hiciera. Te escribí por el Slack de Startups of Puerto Rico para que continuemos allá.

[2020-01-16 15:55] miguelrios opened #93 "Categorización de pedidos"
De @mariolapr en Twitter (pediatra usando el site): “Para hacerlo más fácil, opción de buscar por artículo. Por ejemplo digamos que en total, entre todos los campamentos se necesitan 10 glucometros. Con ese número puedo lograr conseguir donaciones de medical supplies.”

[2020-01-16 15:56] miguelrios commented on #93
Related to #51. I started a spreadsheet to label some of the asks to see if we can do a simple model that categorize all asks: https://docs.google.com/spreadsheets/d/16alvWnwEu-aMD5IHiUH_NHkuNfB9oaKiWTiGMXp-jSM. Let’s channel brainstorming and progress here. @Xiomara7

[2020-01-16 16:37] oajota opened #94 "Anñadir un entry "global" a los 78 municipios para mascotas"
Team:

Se comunicaron con nosotros a solicitarnos ayuda con el asunto de muchas mascotas cuyos dueños las dejaron solos en sus casas. Hay grupos listos para recogerlos pero necesitan que los locales que los ven identifiquen donde están en alguna parte y por eso recurrieron a nosotros.

Mi idea es añadir en las opciones de lugares a los municipios una "global": que se llame "reporta mascotas" y que

[2020-01-16 17:04] vacas commented on #63
@froi, ¿Qué tenían en mente para registrar estos errores? ¿Enviar un email/slack notification a los admins, registrarlo en el db u otra cosa?

[2020-01-16 17:06] gcollazo commented on #94
@oajota Esto debe ser prácticamente gratis una vez no movamos a solicitar datos más estructurados que es la solución para muchos features que se han solicitado. Organizar los datos de forma estructurada nos da la posibilidad de filtrar y hacer visualizaciones y reportes por cosas específicas como es el caso de los animales.

Esto va en camino. Voy a crear un issue con los detalles y el diseño de l

[2020-01-16 17:07] gcollazo commented on #94
Por otro lado el hack que sugieres me parece aceptable por ahora para cubrir la necesidad de forma inmediata. También voy a crear un issue para eso.

[2020-01-16 17:07] torlanco commented on #94
Están surgiendo muchos needs especiales como este y #93. Creo que se debe robustecer el feature real que es #51 con el labeling system que propone @miguelrios.

[2020-01-16 17:09] gcollazo commented on #94
@torlanco voy a documentar el feature, pero hay una tarea de importación/categorización que es lo que @miguelrios está haciendo. Miguel nos podrá decir si necesita ayuda con eso para convocar más gente.

[2020-01-16 17:09] Xiomara7 commented on #93
@miguelrios, ¿para empezar pudiéramos añadir los labels más básicos al form, que la gente misma los vaya categorizando?

[2020-01-16 17:16] gcollazo commented on #93
@Xiomara7 por ahí creo que va la cosa... un feature de tags en cada sector y posteriormente un view para filtrar por tags

[2020-01-16 17:18] torlanco commented on #93
Si, he estado pensando en los labels también. Quizás romper el mas amplio `need_supplies` y usar más específicos:
# needs
- need_food
- need_water
- need_psycologist
- need_fun
- need_leaders
- need_help_with_elderly
- need_help_with_infants
- need_toys
- need_power
- need_otc_drugs
- need_rx_drugs

# type
- request
- offer

[2020-01-16 17:21] torlanco commented on #93
añado:
- need_hygiene
- need_pet_support

need hygiene lo he visto mucho
need_hygiene (!)

[2020-01-16 17:48] torlanco commented on #93
necesito un buen label para "Necesitamos catres" ya que ocurre mucho. Ya empece a label btw.

[2020-01-16 18:26] #93 closed

[2020-01-16 18:31] gcollazo commented on #94
Ya tenemos en producción el feature de añadir tags a los posts. Por el momento solo se puede hacer desde el "admin". Esto debe ayudarnos a empezar a categorizar cosas.

[2020-01-16 18:37] froi commented on #63
Creo que registrar en la DB seria bueno. Un especie de flag que indique que esta en review o algo parecido.

Las integraciones con Slack y/o email va a depender de los dueños del site. Si ellos quieren manejar eso entonces seria algo que podemos considerar.

[2020-01-16 18:41] vacas commented on #63
Creo que si hay un flag en el db, deberíamos incluir también un text box donde puedan explicar qué está mal o erróneo de la data, ¿no?

No sé si también un campo para obtener el email de la persona que someta el error sería bueno para que se puedan comunicar con esta persona en cualquier caso que falte alguna info adicional, but that'd up to the admins... We could just make that field optional en

[2020-01-16 18:50] froi commented on #63
All good points. @gcollazo thoughts?

[2020-01-16 18:51] gcollazo opened #96 "Tags deben ser opcionales"

[2020-01-16 18:53] gcollazo commented on #77
Hablé con @luisv5z y decidimos movernos away de tailwind y crear CSS custom para los estilos del site. El site es pequeño y como no estamos usando un client side framework, es complicado centralizar y compartir los estilos.

@luisv5z please link este issue a tu PR.

[2020-01-16 18:53] gcollazo opened #97 "Filtrar sectores por tags"

[2020-01-16 18:54] gcollazo opened #98 "Los usuarios deben poder crear y asignar tags existentes a los posts"

[2020-01-16 18:55] gcollazo commented on #94
Cerrando pq ya tenemos un issue con el feature que resuelve esto

[2020-01-16 18:55] #94 closed

[2020-01-16 18:57] gcollazo commented on #51
Cerrando ya que hay issues tracking los features que salen de esta conversación, si se quedara algo please feel free de crear issues adicionales.

[2020-01-16 18:57] #51 closed

[2020-01-16 19:01] gcollazo commented on #90
Acabo de hablar con @jwvelez y está trabajando en limpiar los datos desde el admin.

[2020-01-16 19:19] torlanco commented on #31
Esto es uno de los datos mas importantes, quizás añadirle un ‘verified’ ☑️

[2020-01-16 19:24] ajRiverav opened #99 "clean up a bit user-facing text used across website"
Issue: During my translation (per #55, which I am working on), I noticed the website needs just a little cleaning up of the user-facing text.

If OK, I can propose the changes via a pull request. THEN, the translation can be done appropriately.

Example of clean-up need:
"[...] Esta página pretende ser un vehículo de distribución equitativa para estos suministros, administrada por la misma gente q

[2020-01-16 19:30] gcollazo commented on #99
@oajota necesitamos tu input aquí

[2020-01-16 19:40] oajota commented on #99
@ajRiverav feel free to propose changes or suggest any new information to be added

[2020-01-16 19:42] gcollazo commented on #99
@ajRiverav PR separado plis

[2020-01-16 19:46] #69 closed

[2020-01-16 19:48] gcollazo commented on #69
@froi despúes de pensarlo mas de lo que debería me fui con `design` 🤷‍♂

[2020-01-16 19:56] torlanco opened #101 "Upload vector logo to design folder"
logo in sketch file is raster image

[2020-01-16 19:57] gcollazo commented on #101
@jwvelez nos puedes conseguir el logo en vectores, idealmente SVG

[2020-01-16 20:09] jwvelez commented on #90
Ya limpié los duplicados. Pude merge algunos, etc. Si se me quedó alguno, me dejan saber. Esto será bastante on-going.

[2020-01-16 20:14] ajRiverav commented on #99
ok;
may want to remove the tag now.

[2020-01-16 20:22] #101 closed

[2020-01-16 20:23] gcollazo commented on #101
@torlanco ahora el sketch file tiene el logo en vectores

[2020-01-16 20:40] ajRiverav opened #103 "Usability: add button to expand/collapse neighborhood list"
The problem is that in the mobile version there's a lot of scrolling to get to neighborhoods at the very end. As the list grows, the problem is exacerbated.

I suggest a signifier is added (e.g. a button, most likely) to provide the user the affordance of  expanding and collapsing the neighborhood list. This results in an easier, faster navigation experience.

[2020-01-16 22:13] gcollazo commented on #90
Closing, cuando aparezcan mas duplicados creamos uno nuevo

[2020-01-16 22:13] #90 closed

[2020-01-17 03:12] miguelrios opened #105 "Add Search"
Tags are cool, pero mucho mejor sería añadir funcionalidad de search para q la gente pueda buscar cosas específicas como "agua", "casetas", "medicina", etc. Podemos usar tags para algunas de esas pero una solución más general bregaría mejor a largo plazo.

[2020-01-17 03:14] miguelrios commented on #105
This describes a potential quick solution: https://stackoverflow.com/questions/2584502/simple-search-in-django

[2020-01-17 03:17] miguelrios commented on #105
Or if we're using postgres https://docs.djangoproject.com/en/3.0/ref/contrib/postgres/search/

[2020-01-17 10:55] gcollazo commented on #105
@jpadilla lo q hicimos en tesoro?

[2020-01-17 13:24] rnegron commented on #64
Me gustaría trabajar en la integración de ATHM por lo menos... Se me ocurre que tal vez haga falta un reusable `django-athm` _a la_ `django-stripe`... Pero no me queda claro cual sería el approach? Un nuevo UI para organizaciones y que se les pueda donar a través del site?

[2020-01-17 13:45] ajRiverav commented on #98
#105 is proposing a _short-term_ alternative to this.

[2020-01-17 13:46] ajRiverav commented on #96
related to #98.

[2020-01-17 13:59] ajRiverav opened #106 "echarle ojo a misnecesidades.org"
for duplicity or inspiration of things to do or not to do.

http://misnecesidades.org/

[2020-01-17 14:46] froi commented on #105
We can use a similar model to what @jpadilla and I are doing in contratospr.

[2020-01-17 14:47] froi commented on #97
Assigned to myself but if anybody wants to work on it just comment here and mention me.

[2020-01-17 15:35] gcollazo commented on #106
Pasé la info al team. Si surgieran ideas específicas que debemos atender dentro de este proyecto, te invito a crear un issue nuevo para eso. Cierro este issue por ahora.

[2020-01-17 15:35] #106 closed

[2020-01-17 15:36] gcollazo commented on #98
Gracias @ajRiverav estamos atendiendo ambos features en paralelo. En este momento son la prioridad.

[2020-01-17 15:38] gcollazo commented on #64
Me preocupa la idea de ser quienes reciben dinero. Como primero paso sugiero simplemente tener un formulario para que entidad que están aceptando donaciones via uno de estos medios se registren y sean aprobados luego de validación manual de un administrador.

Hay que tener cuidado con el fraude que este tipo de approach facilita.

[2020-01-17 19:22] jpadilla commented on #96
closed via #107

[2020-01-17 19:22] #96 closed

[2020-01-17 19:22] jpadilla commented on #98
closed via #107

[2020-01-17 19:22] #98 closed

[2020-01-17 19:43] ajRiverav commented on #103
visualized:

![image](https://user-images.githubusercontent.com/22076301/72641246-a5734180-3937-11ea-88b1-c7fc9fdef692.png)

[2020-01-17 20:07] ajRiverav opened #108 "refactor UX for barrio screen"
Not sure where the team is designing things (e.g. in a slack group or somewhere)...but I propose this:

![image](https://user-images.githubusercontent.com/22076301/72642625-d0ab6000-393a-11ea-9f28-0dc15581cff3.png)

- Did a few usability tests and they passed.
- It also helps with the flow of needs -> en route -> delivered, and the duplicity of deliveries that arise because the wiki does not provi

[2020-01-17 20:10] ajRiverav commented on #108
if they team can provide what they have in mind to coordinate entregas, this can be adjusted.

[2020-01-17 20:17] gcollazo commented on #103
Se ve bien pero hay que hold los cambios de UI hasta que #77 lands. Se decidió hacer un rewrite del CSS para eliminar la dependencia de tailwind.

[2020-01-17 20:17] gcollazo commented on #108
Sugiero hold los cambios de UI hasta que #77 lands

[2020-01-17 20:26] ajRiverav commented on #97
what kind of tagging is being considered here? (e.g. item categories, etc..)

...coming up with ideas that may integrate with #108 while keeping the usability high.

[2020-01-17 22:00] ajRiverav commented on #108
aj: maybe close this. Acabo de ver https://github.com/Code4PuertoRico/suministrospr/issues/11, que era lo que estaba buscando para entender actual requirements de la calle.

[2020-01-17 22:45] #108 closed

[2020-01-18 12:24] ajRiverav commented on #11
esto se va a añadir para v2 o #77 tiene que ver con esto?

Sé que quieren aguantar UI proposals hasta que se haga #77, pero tengo wireframes refactoring esto. La idea es poder ver qué se va a implementar (antes de que se haga) para en lugar proponer breaking changes, que sean enhancements.

[2020-01-18 15:00] gcollazo commented on #99
Closed  by PR #110

[2020-01-18 15:19] ajRiverav commented on #11
Acá el refactoring (mobile-first) para q se piense. Resuelve mucha de las ambiguedades del sketch de arriba. Todos los requirements arriba (e.g. puntos de integración, etc...) aplican.

![image](https://user-images.githubusercontent.com/22076301/72665966-81693c00-39db-11ea-8ba2-ef2ecdfb79d1.png)

![image](https://user-images.githubusercontent.com/22076301/72666058-8bd80580-39dc-11ea-8cb1-b1daca090

[2020-01-18 18:19] jpadilla commented on #97
@froi I can pick this up if you haven't already.

[2020-01-18 18:20] froi commented on #97
I haven’t gotten far. Go for it @jpadilla

[2020-01-18 18:20] jpadilla commented on #97
idea by @gcollazo

![home](https://user-images.githubusercontent.com/83319/72668464-36f4b900-39f5-11ea-8565-31d262344e30.png)

![srp](https://user-images.githubusercontent.com/83319/72668463-36f4b900-39f5-11ea-97fe-9f1b40e37f16.png)

[2020-01-18 18:36] #84 closed

[2020-01-18 18:46] jpadilla opened #111 "Cache form queries"
We're currently not doing response caching for create/update form view because CSRF tokens. We should still be able to cache queries. These must be invalidated accordingly.

<img width="1114" alt="Screen Shot 2020-01-18 at 1 41 54 PM" src="https://user-images.githubusercontent.com/83319/72668846-ea12e180-39f8-11ea-857c-27d846cc48c2.png">

[2020-01-18 18:47] jpadilla commented on #111
@rnegron is assigned to work on this.

[2020-01-18 18:47] jpadilla commented on #84
Gracias @arielo @rnegron 🎉

[2020-01-18 19:10] LaysCurbelo opened #113 "Sección de Voluntarios"
Debería añadirse una sección donde se puedan registrar voluntarios especificos. Entiendase por personas con habilidades especializadas que deseen donar su tiempo. No es lo mismo un grupo de voluntarios generales que un grupo de voluntarios enfermeros. Asi se pueden movilizar los suministros con voluntarios especificos para areas con mayor urgencia (como ancianos con necesidades especiales).

Adjun

[2020-01-18 19:26] LaysCurbelo commented on #113
A ustedes! Lo que necesiten me dejan saber, pueden contactarme tambien por aqui layscurbelo@gmail.com

[2020-01-18 20:27] froi commented on #113
@gcollazo creo que esto es pa’ ti.

[2020-01-19 00:22] froi opened #119 "Community requirement - Add an Open Source license"
Siendo un repo dentro de Code 4 Puerto Rico tenemos que añadir una licencia Open Source al proyecto.

@gcollazo Siendo el stakeholder del proyecto te dejo a ti y al equipo original de suministrospr la decision de que licencia utilizar.

[2020-01-19 00:25] froi opened #120 "Community requirement - Add CONTRIBUTING.md file"
Siendo un proyecto en Code 4 Puerto Rico y Open Source, necesitamos añadir un CONTRIBUTING.md para ayudar a personas arrancando con el proyecto.

[2020-01-19 13:31] gcollazo commented on #113
@LaysCurbelo Estamos trabajando en una solución más general que serviría para resolver este mismo de problema con #11.

El caso que traes es no lo teníamos presente porque nadie en el campo nos ha dicho que es un problema. Dicho eso creo que está suficientemente cerca como para que podamos acomodar el caso dentro de lo que estamos trabajando.

Mi sugerencia sería replantear este feature dentro de

[2020-01-19 13:36] #97 closed

[2020-01-19 14:02] #99 closed

[2020-01-19 15:24] LaysCurbelo commented on #11
Saludos @gcollazo

Aqui mi sugerencia para el merge de ambos request:

Es básicamente añadir en la area del viaje que tipo de voluntario estará en ese viaje y añadir incluso cuanto se pronostica durara el recurso que estan entregando así si veo que se hizo una entrega de insulina por ejemplo y los voluntarios comentarón la entrega debe durar 5 dias de consumo para 20 pacientes si veo la fecha cuan

[2020-01-19 15:39] froi opened #123 "Añadir mas información al README"
Creo que el proyecto debe de tener texto más instruccional en el README.

## Que debemos de añadir

- Descripción del proyecto
    - Que es y que hace
- De donde sale el proyecto
    - Equipo original del proyecto
    - Actual "product owner" en Code 4 PR
- Donde ir para mas información
- Como contribuir al proyecto. Relacionado a #120

[2020-01-19 16:30] albertico commented on #123
Puedo hacer un primer "draft" de esto. En estos días he estado documentando artículos, tweets, etc. que hablan de esta iniciativa. Propongo añadir la información más importante al `README.md` y añadir un `THE_STORY.md` com más detalles y referencias.

[2020-01-19 16:38] Xiomara7 opened #124 "Fix count de resultados por categorías"
<img width="601" alt="Screen Shot 2020-01-19 at 12 19 59 PM" src="https://user-images.githubusercontent.com/3449724/72684609-7e904900-3ab8-11ea-8102-28d6b83c4634.png">

[2020-01-19 16:41] Xiomara7 commented on #123
Puedo ayudar con el contributing en #120

[2020-01-19 18:19] #124 closed

[2020-01-19 18:45] JesusAlvelo opened #127 "Request for API"
Hola, sería interesante que hubiera un API para poder visualizar y cuantificar los suministros por regiones/pueblo. Esto ayudaría a coordinar y repartí suministros de forma eficiente y evitar redundancias. Gracias por su labor.

[2020-01-19 18:48] LaysCurbelo commented on #113
Hice mi comentario en #11, no obstante lo adjunto aqui igualmente. Gracias @gcollazo !!
![Suministrosprv2](https://user-images.githubusercontent.com/60011942/72686403-aab4c580-3aca-11ea-80c5-9eeeef8a0523.png)
[Uploading Suministrosprv2.pdf…]()

[2020-01-19 21:29] albertico opened #128 "Asignar Categorías: Patillas"
- [x] Bo. Bucarabones

[2020-01-19 21:30] albertico commented on #128
Completo

[2020-01-19 21:30] #128 closed

[2020-01-19 21:35] albertico opened #129 "Asignar Categorías: Lares/Moca/Cabo Rojo/Orocovis"
## Lares

- [x] Coliseo
- [x] Coliseo de Lares

## Moca

- [x] Carretera110 hacia Moca
- [x] Santiago de los Caballeros

## Cabo Rojo

- [x] Iglesia Ciudades de Refugio Jesucristo es el Señor

## Orocovis

- [x] Sector limones

[2020-01-19 21:44] albertico commented on #129
Review:

- [ ] "blue pads" => https://suministrospr.com/sectores/iglesia-ciudades-de-refugio-jesucristo-es-el-senor-cabo-rojo/

Fix Duplicates:

- [x] Lares: Coliseo de Lares
  - Coliseo: https://suministrospr.com/sectores/coliseo-2/
  - Coliseo de Lares: https://suministrospr.com/sectores/coliseo-de-lares-2/

Delete:

- [x] https://suministrospr.com/sectores/coliseo-de-lares-2/

[2020-01-19 22:01] #129 closed

[2020-01-19 22:07] albertico opened #130 "Asignar Categorías: Mayagüez/Las Marías/Juana Díaz"
## Mayagüez

- [x] Escuela Elpidio H. Rivera
- [x] Escuela Urbana Eugenio María de Hostos
- [x] Parque de los próceres

## Las Marías

- [x] ~~A-INFORMACIÓN IMPORTANTE~~ (See Delete)
- [x] Campamento el Guacio
- [x] Localizado en el pueblo

## Juana Díaz

- [x] Bo. Río Cañas Arriba (Sector Provincia - Calle 8 #260)
- [x] Frutos de la Vid Sur
- [x] Pista Atlética

[2020-01-19 22:33] albertico commented on #130
Delete:

- Las Marías:
  - [x] https://suministrospr.com/sectores/a-informacion-importante-ponce/

[2020-01-19 23:42] albertico commented on #130
Completado

[2020-01-19 23:44] #130 closed

[2020-01-19 23:46] albertico opened #131 "Asignar Categorías: San Germán"
## San Germán

- [x] Guardia Nacional
- [x] Parking Shopping Center Plaza del Oeste
- [x] Predios de la Guardia Nacional
- [x] Residencial Manuel F. Rossy

[2020-01-20 00:16] albertico commented on #131
Review:

- Unclear if these two entries are duplicate or related:
  - Guardia Nacional: https://suministrospr.com/sectores/guardia-nacional/
  - Predios de la Guardia Nacional: https://suministrospr.com/sectores/en-los-predios-de-la-guardia-nacional-en-san-german/

[2020-01-20 00:19] #131 closed

[2020-01-20 00:23] albertico opened #134 "Asignar Categorías: Sabana Grande"
## Sabana Grande

- [x] Club de Leones
- [x] Parque doble A
- [x] Parque en Barrio Cerro Gordo
- [x] Parque Rafael Milán Padró
- [x] Plaza Pública

[2020-01-20 00:41] albertico commented on #134
Completado

[2020-01-20 00:41] #134 closed

[2020-01-20 01:22] albertico opened #135 "Asignar Categorías: Jayuya"
## Jayuya

- [x] Campamento Cancha Canalizo
- [x] Campamento Cancha La Pica
- [x] Campamento Complejo Deportivo Filiberto García
- [x] Campamento Parque Santa Clara
- [x] Enrique Rivera
- [x] Hogares Seguros
- [x] Jayuya Abajo
- [x] Monte Llanos

[2020-01-20 01:26] #120 closed

[2020-01-20 01:30] gcollazo opened #136 "Link GitHub repo on footer"
Creo que debemos linkiar el archivo CONTRIBUTING de este repo, en el footer del site con un texto que diga algo como "¿Como ayudar?"

@Xiomara7 @froi ¿Qué creen?

[2020-01-20 01:32] froi commented on #136
Me gusta esa idea.

[2020-01-20 01:32] Xiomara7 commented on #136
A mi también. Yo puedo hacerlo.

[2020-01-20 01:38] albertico opened #137 "Sectores en la página del municipio no concuerdan con los desplegados en la página principal"
Mientras añadía categorías para el municipio de Jayuya me percaté que la lista de sectores en la página principal no concuerda con la lista de sectores en la página del municipio de Jayuya.

A continuación se muestra la página principal de [SuministrosPR.com](https://suministrospr.com) con los sectores de Jayuya:

![suministrospr-jayuya-main-page](https://user-images.githubusercontent.com/1066016/

[2020-01-20 02:11] albertico commented on #135
Completado.

[2020-01-20 02:11] #135 closed

[2020-01-20 02:15] albertico opened #138 "Asignar Categorías: Lajas"
## Lajas

- [x] Cancha Lluch y parking de manejo de emergencias
- [ ] Club de Leones - Lajas
- [x] Colinas de La Parguera (Calle 3, Solar 39)
- [x] Coliseo Juan Lluch
- [x] Cuesta Blanca
- [x] Healthy Body Factory
- [x] Barrio Paris
- [x] Lajas Encarnación
- [x] Los Hornos

[2020-01-20 02:51] albertico commented on #138
Review:

- [ ] Posible Duplicado:
  - Cancha Lluch y Parking de Manejo de Emergencias: https://suministrospr.com/sectores/cancha-lluch-y-parking-de-manejo-de-emergencias/
  - Coliseo Juan Lluch: https://suministrospr.com/sectores/coliseo-juan-lluch/
- [ ] Este "post" parece más una organización preguntando quién necesita ayuda en vez de un sector solicitando ayuda (Unclear how to proceed):
  - Clu

[2020-01-20 02:52] albertico commented on #138
Considerándolo completado por ahora.

[2020-01-20 02:56] albertico commented on #137
El mismo problema sucede con Adjuntas.

Página principal con sectores de Adjuntas (10 sectores):

![suministrospr-adjuntas-main-page](https://user-images.githubusercontent.com/1066016/72695762-ac50ae80-3b07-11ea-93a6-e6931671263b.jpg)

Página del municipio de Adjuntas (8 sectores solamente):

![suministrospr-adjuntas-bug-not-rendering-all-sectores](https://user-images.githubusercontent.com/1066016

[2020-01-20 02:59] jpadilla commented on #137
Investigando.

[2020-01-20 03:13] albertico opened #139 "Asignar Categorías: Adjuntas"
## Adjuntas

- [x] Barrio Guaraguao Sector Lomas
- [x] Calle del Agua
- [x] Coliseo Yul Perez
- [x] Fernando Belvis
- [x] Guilarte
- [x] Parking de Burger King (noches) y áreas aledañas al Coliseo de Adjuntas
- [x] Residencial Alturas de Adjuntas
- [x] Residencial Housing
- [x] Residencial Villa Valle Verde B
- [x] Vega Arriba (Al lado del Campo es Lena)

[2020-01-20 03:34] Xiomara7 commented on #136
¿Algo así?

<img width="926" alt="Screen Shot 2020-01-19 at 11 33 16 PM" src="https://user-images.githubusercontent.com/3449724/72696855-2424d600-3b14-11ea-904a-c632a3583e37.png">

[2020-01-20 05:17] albertico commented on #139
Completado!

[2020-01-20 05:17] #139 closed

[2020-01-20 05:35] albertico opened #141 "Asignar Categorías: Utuado"
## Utuado

- [ ] ~~Barrio Sábana Grande~~
- [x] Barrio Sabana Grande (Ramal 611)
- [x] Barrio Viví Arriba
- [x] Barrio Consejo Sector La Pica
- [x] Don Alonso
- [x] Los Pinos
- [x] Refugio en Escuela Vocacional Antonio Reyes Padilla
- [x] Roncador Anajo Sector Guaonico
- [x] Salto Arriba
- [x] Sector Campo Alegre
- [ ] ~~Utuado~~

[2020-01-20 05:39] albertico commented on #141
Review Duplicates:

- Barrio Sabana Grande (Ramal 611): https://suministrospr.com/sectores/1588/
- ~~Barrio Sábana Grande~~: https://suministrospr.com/sectores/1594/ (Merged into "Barrio Sabana Grande (Ramal 611)")

Delete:

- [x] Utuado: https://suministrospr.com/sectores/utuado-utuado/ (Too general; incomplete; no details)
- [x] Barrio Sábana Grande: https://suministrospr.com/sectores/1594/ (Mer

[2020-01-20 06:21] albertico commented on #141
Completado.

[2020-01-20 06:21] #141 closed

[2020-01-20 06:31] albertico opened #142 "Asignar Categorías: Maricao"
## Maricao

- [x] Barrio Indiera Alta, Sector El 27
- [ ] ~~Bo. Indiera Alta, Sector El 27~~ (Duplicate)
- [x] Cancha Bajo Techo, Sector El 30 (Bo. Indiera Alta)
- [ ] ~~Barrio Indiera Alta, Sector El 30 (en la cancha)~~
- [x] Convento de Monjas al lado de la Iglesia del Pueblo
- [ ] ~~Antigua escuela Vizcarrondo~~ (Duplicate)
- [x] Escuela La Carmen
- [x] Fundación Bucarabon
- [x] Iglesia Episcop

[2020-01-20 06:56] albertico commented on #142
Review Duplicates:

- Bucarabones:
  - Iglesia Refugio Eterno (Bo. Bucarabones): https://suministrospr.com/sectores/iglesia-refugio-eterno-bo-bucarabones-maricao/
  - ~~Bucarabones~~: https://suministrospr.com/sectores/bucarabones-maricao/ (Less details; exact needs; merged into `Iglesia Refugio Eterno (Bo. Bucarabones)`)
- Hacienda Juanita:
  - ~~Parador Hacienda Juanita~~: https://suministrospr.

[2020-01-20 08:00] albertico commented on #142
Completado.

[2020-01-20 08:00] #142 closed

[2020-01-20 13:34] gcollazo commented on #136
Gracias @Xiomara7

Creo que así se vería mejor y ayuda a separar el footer completo del content.

![Slice](https://user-images.githubusercontent.com/61048/72730546-fb2e3080-3b67-11ea-94e5-ed5b88dcda41.png)

[2020-01-20 13:37] gcollazo commented on #127
Hola @JesusAlvelo sin duda esto es algo que queremos tener. Por el momento estamos enfocados en entregar features directamente en el site. Es la forma más rápida y ahora (en medio de la emergencia) debemos optimizar para eso.

Si te interesa trabajar en este feature déjanos saber y podemos hablar para compartir nuestra visión de como atacar este problema.

[2020-01-20 14:36] jpadilla commented on #137
Creo que esto es caching inconsistencies tbh. Pienso que #132 fixes this issue. Will confirm later today.

[2020-01-20 17:10] #136 closed

[2020-01-20 17:36] albertico commented on #137
Probably. Sorry, I didn't test any further (I was adding tags to as many posts as possible). If you can't replicate the problem locally using the same data, I would agree with the caching. It's probably not worth putting too much energy into this issue until #132 gets deployed.

[2020-01-20 17:38] albertico commented on #137
Also, do people visit the actual "municipio" page? Would be nice for someone to take a look at the analytics. cc: @gcollazo

[2020-01-20 17:58] jwvelez opened #144 "Añadir nombre del municipio al breadcrumb"
Esto estaba funcionando bien antes pero ya no están saliendo los Municipios en el breadcrumb.
![Screenshot 2020-01-20 13 57 35](https://user-images.githubusercontent.com/10341619/72748200-f334b780-3b8c-11ea-88c8-7d93e7084318.png)

[2020-01-20 18:20] gcollazo commented on #137
![top-pages](https://user-images.githubusercontent.com/61048/72749259-efeefb00-3b8f-11ea-9a79-25eed0464355.png)

[2020-01-20 18:25] jonatns commented on #144
I'll give it a try!

[2020-01-20 18:26] albertico commented on #144
Gracias por crear este issue @jwvelez. Me percaté del mismo problema mientras añadía "tags" a los sectores.

[2020-01-20 19:59] jpadilla commented on #144
Gracias @jonatns! Closed via #145

[2020-01-20 19:59] #144 closed

[2020-01-20 21:46] jpadilla commented on #111
@rnegron heads up, I moved cache invalidation to signals here https://github.com/Code4PuertoRico/suministrospr/pull/132. Whatever else we cache, we should invalidate there when needed.

[2020-01-21 23:26] JesusAlvelo commented on #127
@gcollazo zumba Yandel. Seguro, dime como puedo ayudar. Nunca he trabajado con features pero le meto mano

[2020-01-21 23:53] gcollazo opened #147 "Terms of service y Privacy policy"
Ya tenemos alguien trabajando esto. Creo issue para keep track.

[2020-01-21 23:57] gcollazo commented on #127
@JesusAlvelo lo más útil y rápido sería un read-only API.

Si duda queremos usar Django Rest Framework. Como no tienes experiencia según dices te diría que le dedicara un tiempo y hagas un PR con tu progreso para
pedir support. Este feature es low priority en este momento

[2020-01-22 00:23] JesusAlvelo commented on #127
No hay problema!

[2020-01-22 02:36] Johnny939 commented on #55
Let me know if I can help.
I found your page on Endi.com yesterday; good job everyone on the website.

[2020-01-23 23:52] vacas commented on #63
Hey, guys. Any updates on this issue? Supongo que habrán otras cosas con más prioridad, so me avisan cuando estén listo con esto o si necesitan ayuda con algún otro ticket.

[2020-01-27 05:02] froi commented on #119
Friendly ping @gcollazo 😄

[2020-01-27 12:21] gcollazo commented on #119
Pienso que debemos usar [Apache 2](https://www.apache.org/licenses/LICENSE-2.0.html) pero estoy súper open a considerar otra cosa.

[2020-01-27 14:31] froi commented on #119
I agree with that. Do you want me to do a PR for you or do you want to do it?

[2020-01-27 18:20] gcollazo commented on #119
@froi please do

[2020-01-28 03:16] dalcalapr commented on #147
[TOS - suministrospr.docx](https://github.com/Code4PuertoRico/suministrospr/files/4120490/TOS.-.suministrospr.docx)

[2020-01-28 03:17] dalcalapr commented on #147
Adjunto los Terminos de Uso. Deben verificarlo, y le falta unos links a ciertas licencias (entre otros). Se basa en el TOS de Wikipidea. Manana les envio los Privacy Policy.

[2020-01-28 19:20] arrel commented on #103
I took a shot at this today, opening a PR now. This was just an easy one I picked off to try to contribute something. It's a little hard to tell what's already in progress so let me know if there are other issues (front-end or back) that would be good to work on without duplicating work. Thx!

[2020-01-30 02:26] gcollazo commented on #147
Gracias @dalcalapr

[2020-02-07 16:52] froi commented on #138
Esto se debería cerrar o estamos esperando ese ultimo checkbox?

[2020-02-10 17:12] gcollazo commented on #138
Closing si alguien más reporta algo reabrimos

[2020-02-17 23:05] froi commented on #137
@albertico @jpadilla @gcollazo

Este issue todavía es valido?

[2020-02-17 23:09] froi commented on #147
@gcollazo Any updates with this?

- Should we move forward with the TOS that was submitted?
- Should we create our own Privacy Policy?

[2020-02-17 23:11] froi commented on #119
Esto se resolvio con el PR #149

[2020-02-17 23:11] #119 closed

[2020-02-17 23:12] froi commented on #123
Hola @albertico y @Xiomara7

Are you working on this or should I put the `help wanted` label to it?

[2020-02-17 23:15] froi commented on #11
Hola @gcollazo

¿Cual es el estado de este issue? ¿Se esta trabajando?

[2020-02-17 23:17] dalcalapr commented on #147
Sorry, no había escuchado más de esto, puedo hacer los Privacy policy esta semana.

Sent from my iPhone

[2020-02-17 23:18] froi commented on #103
Closing this issue since it was solved in PR #148

[2020-02-17 23:18] #103 closed

[2020-02-17 23:19] froi commented on #77
@gcollazo This seems to be resolved in PR #118. Can we close this issue?

[2020-02-17 23:21] froi commented on #73
Closing this issue as stale.

[2020-02-17 23:21] #73 closed

[2020-02-17 23:24] froi commented on #64
Closing as stale. Please reopen if it's going to be worked on.

[2020-02-17 23:24] #64 closed

[2020-02-17 23:32] froi commented on #111
@jpadilla @rnegron any updates on this issue? Marking as stale for the moment. Please remove the label if this is not the case.

[2020-02-17 23:36] froi commented on #55
Marking as stale. This issue should be closed by PR #122

[2020-02-18 00:24] luisgthb commented on #77
@froi Was watching your stream and noticed a couple of issues but they can be dealt with separately.

[2020-02-18 01:11] Xiomara7 commented on #123
@froi I'm not but I can help later in the week. I would put the `help wanted` in case anyone else can do it first.

[2020-02-18 18:44] froi commented on #147
Relax @dalcalapr y gracias. Solo quería estar seguro que no dejemos nada en el limbo 😄

[2020-02-19 02:08] #77 closed

[2020-02-19 02:37] froi commented on #63
@vacas No updates on this.

En los ultimo 26 días las prioridades fueron cambiando y este feature no era una de ellas.

@gcollazo que crees que se deba de hacer con este issue?

[2020-02-19 02:39] vacas commented on #63
@froi, that's cool, my friend; Aprecio el aviso.  @gcollazo, me avisas cualquier cosa, aquí a las órdenes 🤟

[2020-02-29 19:21] froi opened #153 "Añadir codigo de conducta"
Como parte de estar en Code 4 Puerto Rico, el repositorio / projecto debe de tener un codigo de conducta que sea compatible con el [código de conducta de Code 4 Puerto Rico](https://github.com/Code4PuertoRico/codeofconduct).

Puede ser uno escrito por ustedes or uno que diga que el proyecto sigue el código de conducta de Code 4 Puerto Rico. Se lo dejo a ustedes.

CC: @gcollazo

[2020-03-01 04:15] froi commented on #55
PR #122 has been merged. Closing this issue.

[2020-03-01 04:17] froi commented on #105
Hey peeps.

Acabo de darle push a lo mas reciente para la busqueda. Esta en el PR #117

Necesito un poco de ayuda con el UI. Feel free to edit the PR directly or submit a PR to the search branch.

[2020-03-01 04:18] froi commented on #40
Esto se esta trabajando en el PR #146

[2020-03-29 00:03] #147 closed

[2020-04-07 01:02] #40 closed

[2020-04-07 01:10] #153 closed

[2020-04-12 00:03] #105 closed

[2020-05-03 00:03] #137 closed

[2020-05-03 00:03] #127 closed

[2020-05-03 00:03] #113 closed

[2020-05-03 00:03] #63 closed

[2020-05-03 00:03] #111 closed

[2020-05-03 00:03] #11 closed

[2020-05-03 00:03] #31 closed

[2020-05-31 00:06] #55 closed

[2020-05-31 00:06] #138 closed

[2020-09-15 15:47] allthedoll opened #158 "Test issue"
Hey @froi this is really rad!

[2020-09-15 15:49] froi commented on #158
Thanks @allthedoll closing this out

[2020-09-15 15:49] #158 closed